
.queueInfo {
  /*border: 1px solid black;*/
  position: sticky;
  top: 75px;
  z-index: 1;
  color: white;
  background-color: black;
  padding: 10px;
}

.mainQueueInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 5px 15px 5px;
  //margin-left: 200px;
  //margin-right: 200px;
}

.queueBindingInfo {
  display: flex;
  flex-direction: column;
}
.queueBindingDetail {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.queue {
  text-align: center;
}

.queue_header_wrapper {
  background-color: black;
  color: white;
}


.list_wrapper {
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
}


.list_header_wrapper {
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.87);
  color: white;
}

.list_header_column_wrapper {
  display: flex;
  //flex: 1;
}
